/*

	CSS for Chris McGuire Portfolio Site
	
	COLORS
		#950202; rgb(149,2,2);     - Dark red
		#052426; rgb(5,36,38);     - Very dark (mostly black) cyan
		#083B40; rgb(8,59,64);     - Very dark cyan
		#0F6B73; rgb(15,107,115);  - Dark cyan
		#19B2BF; rgb(25,178,191);  - Strong Cyan
		#C0C0C0; rgb(192,192,192); - Silver Grey

		
	FONTS
		"sitka heading" - Doesn't work on Mac
            font-family: "sitka heading", Tahoma, Verdana, Segoe, sans-serif;
		"sitka subheading" - Doesn't work on Mac
            font-family: "sitka subheading", Tahoma, Verdana, Segoe, sans-serif;
		"Mada"
		"Nunito"
*/

/*---------------------------------------------------
--------------------- MAIN CSS ----------------------
-----------------------------------------------------
*/

body {
	background-color: #19B2BF;
	font-family: sans-serif;
}

#wrapper {
    /* max-width: 530px;
    width: 100%; */
    width: 300px;
    margin: 0 auto;
	background-color: #950202;
}

header {
	height: 200px;
	background-color: #0F6B73;
	background-image: url('../img/radio_header.jpg'); /* image size: 1208px X 800px */
	background-repeat: no-repeat;
	background-position: top center; 
	background-attachment: fixed;
    background-size: 300px;
}

#logo {
    position: relative;
    top: 50px;
    margin: 0px auto;
	max-width: 300px;
    width: 100%;
    color: #052426;
    background-color: rgba(192,192,192,.9);
    border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#borderDiv {
	width: 280px;
	margin: 0 auto;
	background-color: #0F6B73;
	margin-top: 10px;
	margin-bottom: 10px;
}

main {
	background-color: #0F6B73;
	width: 260px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-size: 2em;
	color: #052426;
	text-align: center;
	font-family: "sitka heading", "Tahoma", sans-serif;
}

h2 {
	font-size: 1.2em;
	color: #052426;
	text-align: center;
	font-family: mada, "sitka subheading", sans-serif;
}

p {
	font-size: 1em;
}

/*-------------------- ACCORDIAN CSS ---------------------*/

.ui-accordion {
    font-family: "sitka heading";
}

.ui-accordion .ui-accordion-header {
	font-family: "sitka heading", sans-serif;
	background-color: #000;
	color: #C0C0C0;
	font-size: 2em;
	border-radius: 5px;
	outline: none;
	text-align: left;
	border: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-accordion-header {
    font-family: "sitka heading", sans-serif;
}

.ui-accordion-header:hover {
    color: #19B2BF;
}

.ui-accordion-header:active {
    color: #FFF;
}

.ui-accordion-content {
	/* width: 90%; */
	margin: auto;
}

.ui-accordion-content-active {
	/* width: 80%; */
	height: 300px;
	margin: auto;
	background-color: #C0C0C0;	
}

footer {
	background-color: #083B40;
	color: #fff;
}

footer p {
	padding: 20px 0 20px 0;
}

/*-------------------------------------------------------------------------------
-----------------------------SMALL MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 400px) and (max-width: 599px) {
    #wrapper {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
	
	header {
        height: 265px;
        background-size: 400px;
    }
    
    #logo {
        top: 110px;
    }
	
	#borderDiv {
		width: 380px;
	}
	
	main {
		width: 360px;
	}
}

/*-------------------------------------------------------------------------------
-----------------------------LARGE MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 960px) {
    #wrapper {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
	
	header {
        height: 395px;
        background-size: 600px;
    }
    
    #logo {
        top: 150px;
    }
	
	#borderDiv {
		width: 580px;
	}
	
	main {
		width: 560px;
	}
}

/*-----------------------------------------------------------------------
-----------------------------TABLET CSS----------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1280px) {
    #wrapper {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }
	
	header {
		height: 650px;
		background-size: 980px;
	}
	
	#logo {
		top: 300px;
		padding: 20px;
	}
	
	#borderDiv {
		width: 940px;
	}
	
	main {
		width: 920px;
	}
}

/*------------------------------------------------------------------------
------------------------------DESKTOP CSS---------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
    #wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
	
	header {
		height: 792px;
		background-size: 1200px;
	}
	
	#logo {
		top: 350px;
		padding: 20px;
	}
	
	#borderDiv {
		width: 1140px;
	}
	
	main {
		width: 1120px;
	}
}

